extends layout

block content
    div.body
    div.grad
    div.login
        div.header
            div Diet
                span Maker
        form(method="post" action="/login")
            input(type='text' placeholder='username' name='username')
            input(type='password' placeholder='password' name='password')
            input(type='submit' value='Login' class='loginBut')
        form(method="post" action="/signUp")
            input(type='submit' value='Sign up')